<h1>My Lists</h1>
<ul class="list-group">
	<% @lists.each do |t|%>
	  <li class="list-group-item"> <%= link_to t.list_name, list_path(t) %> </li>
	<% end %>
</ul>
<br/>
<%= link_to "Create New List", new_list_path, class: 'btn btn-success' %>
