<h1>Create New List</h1>

<%= form_for @list do |f| -%>
 List Name: <%= f.text_field :list_name %><br/>
  			<%= f.submit "Create", class: 'btn btn-success' %>
<% end -%>
<hr/>
<%= link_to "Cancel", root_path, class: 'btn btn-default' %>