<h1>Create New Item</h1>

<%= form_for [@list, @item] do |f| -%>
 Item Name: <%= f.text_field :Item_name %><br/>
  			<%= f.submit "Create", class: 'btn btn-success'%>
<% end -%>
<hr/>
<%= link_to "Cancel", lists_path, class: 'btn btn-default' %>